.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Weather-app {
  background-color: #084ace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header {
  max-width: 8000px;
}
.App-link {
  color: #61dafb;
}
a {
  color: #61dafb;
  text-decoration: underline;
}
