.Forecast {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 10px;
}

.Date {
  margin-top: 10px;

  text-align: center;
  color: rgba(39, 33, 36, 0.4);
  font-size: 16px;
}

.Temp {
  color: #f65292;

  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
  padding: 0;
}
.weather-forecast-temperature {
  padding: 0 3px;
}
