.Forecast {
  margin-top: 10px;
  display: flex;
}

.Date {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  text-align: center;
  color: rgba(39, 33, 36, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.Temp {
  display: flex;
  justify-content: center;
  color: #f65292;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.weather-forecast-temperature {
  padding: 0 3px;
}
