.SearchFormInput {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.SearchFormButton {
  background-color: #885df1;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  margin-left: 8px;
  font-size: 16px;
}
